[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "~=22.0"
flake8 = ">=3.7.9,<5.0"
ipython = ">=7.31.1,<8.0"
isort = "~=5.0"
jupyter = "~=1.0"
jupyterlab = "~=3.0"
kedro = "~=0.18.8"
kedro-telemetry = "~=0.2.0"
nbstripout = "~=0.4"
pytest-cov = "~=3.0"
pytest-mock = ">=1.7.1,<2.0"
pytest = "~=7.2"
jupyterlab-server = "<2.16.0,>=2.11.1"
kedro-datasets = {version = "~=1.0.0", extras = ["pandas.csvdataset", "pandas.exceldataset", "pandas.parquetdataset"]}
scikit-learn = "~=1.0"
matplotlib = "*"
kedro-viz = "*"

[dev-packages]
kedro = "*"
torch = ">1.12.1"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
